---
interface Props {
  text: string;
}
const { text } = Astro.props;
---

<span class="tooltip">
  <span class="tooltip__trigger" role="button" tabindex="0" aria-expanded="false" aria-label="Help">?</span>
  <span class="tooltip__content" role="tooltip">{text}</span>
</span>
